*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.menu-bar
{
    background-image: linear-gradient(to right,#ffe6e6, #808080);
    padding-left: 30px;
    
}
.nav-link
{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: rgb(8, 7, 7) !important;
    margin: 2px;
}
.dropdown-item
{
    font-family: 'Rubik', sans-serif;
}
.navbar-nav
{
    text-align: center;
}
.menu-bar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border: none;
}
.banner
{    
    font-style: italic;
    height: 80vh;
    background-image: url(images/banner-1.jpg);
    background-size: cover;
    background-position: center;
    color: #000;
}
.banner h1
{
    padding-top: 170px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
    letter-spacing: 7px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0, 0, 0, 5);
}

.banner p
{
    font-family: 'Ranchers', cursive;
    letter-spacing: 3px;
}

.search-job
{
    padding: 30px 0;
    margin: -50px 6% 50px;
    background-image: linear-gradient(to right,#ffe6e6, #808080);
}
.search-job .form-control
{
    max-width: 250px;
    display: inline-flex;
    margin: 10px 5px;
    border-radius: 0;
    box-shadow: none !important;
    border: none !important;
}
.search-job .btn-dark
{
    border-radius: 0;
    box-shadow: none !important;
    border:none;
    display: inline-flex;
    margin: 5px ;
    padding: 5px 20px;
}

/*------------------- top recuiters----------------- */

#recruiters
{
padding-top: 50px;
padding-bottom: 100px;

}
#recruiters h3
{
    text-align: center;
    padding-bottom: 40px;
}
h3::before
{
    content: '';
    background-image: linear-gradient(to right,#f7fcfa, #808080);
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 90px;

}

/* ----------------------recent jobs-------------------------- */

#jobs
{
    background-color: #ffe6e6;
    padding: 50px 0px;
}
.company-details
{
    box-shadow: 0 2px 70px 0 rgba (100, 130, 208, .18);
    border-radius: 5px;
    margin-bottom: 20px;
}
.job-update
{
    background: #fff;
    padding:10px 20px;
    border-radius: 5px;
}
.job-update .fas
{
    margin-top: 5px;
    margin-right: 10px;
    color: #0d0f0f;
}
.job-update small
{
    background: #efefef;
    padding:1px 5px;
    margin: 0 5px;
}
.job-update p
{
    margin-bottom: 0 !important;
}
.job-update a
{
    text-decoration:none im !important ;
    color: #b6beb6;
    float: right;
}
.apply-btn 
{
    height: 40px;
    background-image: linear-gradient(to right, rgb(22, 20, 20),#ffe6e6);
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
   


}
.apply-btn .btn-dark
{
    padding: 0px 40px;
    float: left;
    border-radius: 0;
    box-shadow: none !important;
    background: transparent;
    border: 1px solid #fff;
}
.page-link li
{
    height: 25px;
    width: 25px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.page-link li:hover, .active
{
    color: #000;
    background-image: black;
}
.left-arrow
{
    color: #000;
}
.right-arrow
{
    color: #000;
}
#site-stats
{
    padding: 100px 0;
}
.site-stats h3
{
    margin-bottom: auto;
}
.site-box
{
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 20px 40px 0 rgba(214, 163, 206, 0.13);
}
.site-box .fas
{
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* --------------------app-banner------------------ */

#app-banner
{
    background-image: linear-gradient(to right, #ffe6e6, #808080);
    padding: 50px 0;
}
#app-banner h2
{
    margin-top: 20px;
    color: #000;
}
#app-banner img
{
    width: 150px;
}
.footer
{
   background: #f0c0dc; 
   padding: 20px 10px 8px;
}
.footer-image
{
    margin: 30px 0;
}
#footer p
{
    color: #333;
}
#footer a img
{
    width: 150px;
}